h1, h2, p {
    font-family: "Arial", sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: justify;
  }
  
  .postagem {
    margin: 20px;
    padding: 20px;
    border: 1px solid white;
  }
  
  .botao {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #69b969;
    color: #fff;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .botao:hover {
    background-color: #e8ebf0;
  }
  
  .lista-navegacao {
    margin: 20px;
    padding: 0;
    list-style-type: none;
  }
  
  .lista-navegacao li {
    display: inline;
    margin-right: 10px;
  }
  
  .lista-navegacao li a {
    text-decoration: none;
    color: #f1eded;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    transition: color 0.3s ease;
  }
  
  .lista-navegacao li a:hover {
    color: hwb(350 26% 4%);
  }
  